td{
    font-size: 15px;
    color: blue;
    text-align: left;
    padding-left: 50px;
    font-weight: bold;
}
button {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
    color: black;
    text-align: right;
}
button:hover {
    background: #000000;
    color: white;
}
table {
    border-spacing: 0.5em;
}