<table>
  <tr>
    <td>
      Player Name
    </td>
    <td>
      <input type="text" name="PlayerName" id="PlayerName">
    </td>
  </tr>
  <tr>
    <td>
      Player Country
    </td>
    <td>
      <input type="text" name="PlayerCountry" id="PlayerCountry">
    </td>
  </tr>
  <tr>
    <td>
      Player Matches
    </td>
    <td>
      <input type="text" name="PlayerMatches" id="PlayerMatches">
    </td>
  </tr>
  <tr>
      <td></td>
      <td></td>
      <td>
        <button type="submit" value="submit">Submit</button>
      </td>
    </tr>
</table>